:root {
  --blue: #3673a9;
  --blue-darkened-25: #28567e;
  --black: #0f0e17;
  --white: #fffffe;
  --grey: #a7a9be;
  --text-dark: var(--black);
  --text-light: var(--white);
  --text-medium: var(--grey);
  --background-main: var(--white);
  --background-sidebar: var(--black);
  --accent: var(--blue);
  --accent-dark: var(--blue-darkened-25);
}

html,
body {
  color: var(--text-dark);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
}

h1,
h2,
h3,
p {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
}

a:link {
  color: var(--accent);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--accent-dark);
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

pre {
  margin: 1em 0;
  overflow: auto;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

code {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

blockquote {
  left: 1em;
  padding-left: 1em;
  border-left: 2px solid var(--text-dark);
}

.circle-border {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.perl-weekly-submission-list {
  list-style-type: disc;
  list-style-position: inside;
}

ol[type="1"] {
  list-style-type: decimal;
  padding-left: 2em;
}
