<!DOCTYPE html>
<html lang="en">
  <head>
    <title>$title$ - pankoff.net</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#3673a9" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="/css/page-content.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
  </head>

  <body>
    <div class="container">
      <aside class="sidebar">
        <div class="sidebar-sticky">$partial("templates/sidebar.html")$</div>
      </aside>

      <main class="main">
        <div class="main-content">$partial("templates/page-content.html")$</div>
        <footer class="footer">$partial("templates/footer.html")$</footer>
      </main>
    </div>
  </body>
</html>
