<section class="sidebar-content">
  <div class="sidebar-info">
    <h1><a href="/">Alexander Pankoff</a></h1>
    <h2>Software Developer, Perlmonk, Haskell Enthusiast, Linux Nerd</h2>
  </div>
  <menu class="sidebar-nav">
    <ul>
      <li>
        <a href="/">About me</a>
      </li>
      <li>
        <a href="/pages/contact.html">Contact</a>
      </li>
    </ul>
  </menu>

  <div class="sidebar-links">
    <a href="https://www.xing.com/profile/Alexander_Pankoff"
      ><img
        class="sidebar-external-link-logo"
        alt="XING Logo"
        src="/img/xing-logo.png"
      />
    </a>
    <a href="https://github.com/ccntrq"
      ><img
        class="sidebar-external-link-logo"
        alt="GitHub Logo"
        src="/img/GitHub-Mark/PNG/GitHub-Mark-Light-64px.png"
      />
    </a>
  </div>
</section>
