<section class="sidebar-content">
  <div class="sidebar-info">
    <h1><a href="/">Alexander Pankoff</a></h1>
    <h2>Software Developer, Perlmonk, Haskell Enthusiast, Linux Nerd</h2>
  </div>
  <div class="sidebar-nav">
    <ul class="sidebar-nav-list">
      <li>
        <a href="/">About me</a>
      </li>
      <li>
        <a href="/pages/perl-weekly-challenge/">The Weekly Challenge</a>
      </li>
      <li>
        <a href="/pages/contact.html">Contact</a>
      </li>
      <li>
        <a href="/pages/privacy-policy.html">Privacy Policy</a>
      </li>
    </ul>
  </div>

  <div class="sidebar-links">
    <a href="https://www.xing.com/profile/Alexander_Pankoff"
      ><img
        class="sidebar-external-link-logo"
        alt="XING Logo"
        src="/font-awesome/fontawesome-free-5.15.4-web/svgs/brands/xing-square.svg"
      />
    </a>
    <a href="https://github.com/ccntrq"
      ><img
        class="sidebar-external-link-logo"
        alt="GitHub Logo"
        src="/font-awesome/fontawesome-free-5.15.4-web/svgs/brands/github.svg"
      />
    </a>
    <a href="https://www.npmjs.com/~ccntrq"
      ><img
        class="sidebar-external-link-logo"
        alt="NPM Logo"
        src="/font-awesome/fontawesome-free-5.15.4-web/svgs/brands/npm.svg"
      />
    </a>
  </div>
</section>
